body {
  margin: 0;
  padding: 0;
  background-color: #00471B; /* Set the background color to #00471B */
}

nav {
  background-color: #333;
}

.text
{
    color: #fff;
    font-family: 'Inter',sans-serif;
}

.text_center
{
    text-align: center;
    color: #fff;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 15px 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.buttons{
    color: #070707;
    text-decoration: none;
        /*Time taken to change havor colour */
    transition: color 0.3s ease;
    width: 150px;
    height: 30px;
    /*Make button round around the edges */
    
}

.round{

  border-radius: 100px;
  width: 10px;
  height: 10px;
}

.buttons:hover
{
    color: #070707;
    background-color: #00471B;
}
nav ul li a:hover {
  color: #fff;
  background-color: #00471B;
}

.image-container {
  position: relative;
}

.image-container img {
  position: absolute;
 justify-content: space-between;
  top: 5px;
  right: 20px;
  padding: 1px 200px;



}

.text-container{
    position: absolute;
    flex: 1;
    top: 200px;
    left: 20px;
 /*Moving attribute  */
    padding: 50px 300px;
    color: #fff;

}


.Font_Family{
    font-family: 'Inter',sans-serif;
   
}

.div_Featured_Cards{
  float: left;
  padding: 10px; 
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  

}

.column {
    float: left;
    width: 50.33%;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;

}




.div_center{
text-align: center;
justify-content: center;
}
.column_cards2 {
  float: left;
  width: 10.33%;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 200px;
  text-align: center;
justify-content: center;

}



.column_cards3 {
  float: left;
  width: 10.33%;
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 200px;
  text-align: center;
justify-content: center;

}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
  .footer_img {
    border-radius: 50%;
    float: right;
    padding: 10px ; 

  }

  .media_icons
  {
    float: left;
    padding: 10px; 

  }

  .main-testimony {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .testimony-text{
    padding-top: 50px;
    text-align: center;
    color: #fff;
  }

  .testimony-container {
    display: flex;
    flex-direction: column;
  }

  .main_card
  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .featured_player_card
  {
    display: flex;
    flex-direction: column;


  }

.button_flex{
  display: flex;
  flex-direction: column;

}

  
  .Footer_text
  {
    float: left;
    padding: 150px; 
    color: #fff;
    font-family: 'Inter',sans-serif;

  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-instagram {
    background: #125688;
    color: white;
    width: 50px;
    height: 50px;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
    width: 50px;
    height: 50px;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
    width: 50px;
    height: 50px;
  }
  

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
  }
  
  .flex-containerParent {
    display: flex;
    flex-wrap: nowrap;

  }

  
  .flex-containerchild {
    width: 100px;
    margin: 100px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .element {
    flex: 1;
  }
  
  .navigation {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: snow;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .navigation li {
    margin: 0 10px;
  }
  
  .navigation li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .navigation li a:hover {
    color: white;
    background-color: #00471B;
  }
  
  .element img {
    background: none;
    margin-left: 300px; 
    margin-top: 20px;
  }
  
  .element button {
    margin-top: 12px;
    margin-left: 30px;
  }
  
  .element ~ .element {
    margin-top: 20px;
  }
  